.catalog
  margin-bottom 26px
  font-size 0

.catalog-row
  margin-bottom 50px
  padding-bottom 50px
  border-bottom 1px solid #dcdcdc
  &:last-child
    margin-bottom 0

.catalog-item
  display inline-block
  vertical-align top
  height 350px
  width 50%
  border-right 1px solid #dcdcdc
  padding 0 74px 0 84px
  &:nth-child(even)
    border-right none
    padding 0 74px 0 80px

.catalog-image-wrap
  display table
  width 100%
  height 182px

.catalog-image
  height 182px
  text-align center
  vertical-align middle
  display table-cell
  width 100%
  position relative

.catalog-item-header
  margin 0 0 13px
  height 22px
  h2
    color #090909
    font-size 1.375rem
    font-weight 200
    margin 0

.catalog-item-description
  color #2C2C2C
  font-size 0.8125rem
  line-height 1.125rem
  height 110px
  margin 0
  overflow hidden

.catalog-item-service
  height 23px

.catalog-item-price
  color #6708AF
  font-weight 500
  font-size 1.5rem

.catalog-item-price-currency
  font-variant small-caps
  padding-left 8px


.catalog-center-badge
  display block
  width 100px
  height 100px
  background-color rgba(255,255,255, 0.34)
  position absolute
  left 50%
  top 50%
  border-radius 50%
  margin-left -49px
  margin-top -49px
  color #FFF
  font-size 2.125rem
  text-transform uppercase
  text-align center
  line-height 108px


.catalog-discount-badge
  width 78px
  height 78px
  border-radius 50%
  position absolute
  color #FFF
  font-size 0.625rem
  font-weight 300
  text-transform uppercase
  bottom 20px

.catalog-discount-badge-pre
  background-color #f7099b
  left 50%
  margin-left -78px
  line-height 78px

.catalog-discount-badge-percent
  background-color #c12be7
  left 26px
  padding-top 22px

.catalog-discount-value
  font-size 1.5625rem
