.footer
  text-align center

.footer-nav
  font-weight 300
  font-size 0.875rem
  border-bottom 1px solid #c7c7c7
  height 66px
  margin 0 0 20px
  padding 26px 0 0

.footer-nav-list
  margin 0
  padding 0
  list-style-type none

.footer-nav-item
  display inline-block
  margin 0 8px

.footer-nav-item-link
  color: #656367;
  text-decoration none
  &:hover
    text-decoration underline

.footer-copyright
  font-weight 300
  font-size 0.75rem
  margin 0 0 18px
  color #656367

.footer-annotation
  font-size 0.625rem
  color #979799
  margin 0 auto
  width 620px
