.vcard-editor
  display none

.vcards
  padding 0 70px 0 270px
  min-height 210px
  background url(../images/vcards.png) left top no-repeat

.vcards-content
  width 356px
  padding-top 22px

.vcards-header
  color #090909
  font-weight 300
  font-size 1.375rem
  margin 0 0 14px

.vcards-summary
  margin 0
  color #2C2C2C
  font-size 0.8125rem
  line-height 1.125rem

.vcards-total
  font-size 1.5rem
  text-align right
  margin-bottom 8px
  padding-top 55px

.vcards-total-price
  color #6708AF
  font-weight 500

.vcards-total-price-currency
  font-variant small-caps
  margin-left 8px

.vcards-total-count
  color #090909
  margin-left 10px


.vcard-editor
  border-top 1px dotted #cacaca
  .vcards-total
    display inline-block
    padding 0
    margin 0 20px 0 0
    vertical-align top
    position relative
    top 3px
  .btn
    vertical-align top


.vcard-editor-header
  font-weight 300
  color #000
  font-size 2.185rem
  margin 0
  padding 32px 84px 40px

.vcard-editor-collapse
  color rgba(33, 33, 33, 0.67)
  font-size 0.75rem
  float right
  position relative
  top 10px
  cursor pointer
  span
    color #510b76
    padding-left 20px

.vcard-editor-content
  border-bottom 1px dotted #cacaca
  padding 0 84px 46px
  height 450px
  position relative
  z-index 0

.vcard-back
  width: 597px
  height: 332px
  background-color #510b76
  position absolute
  right 84px
  top 0
  z-index 1
  overflow hidden

.vcard-marble-logo-back
  position absolute
  right 20px
  bottom 20px

.vcard-front
  width 595px
  height 331px
  box-shadow 0 0 12px rgba(0, 0, 0, 0.14)
  position absolute
  left 84px
  bottom 46px
  z-index 2
  background #fff
  padding 40px 36px 0 40px
  color #510b76
  form
    ::-webkit-input-placeholder
      color transparent
    ::-moz-placeholder
      color transparent
    :-moz-placeholder
      color transparent
    ::-ms-input-placeholder
      color transparent

.vcard-marble-logo
  position relative
  left -12px
  margin-bottom 36px

.vcard-position
  margin-bottom 40px
  font-size 14px
  font-weight 100

.vcard-input,
.vcard-textarea
  border: none
  border-bottom 1px solid transparent
  font-size 14px
  &:focus
    outline: none

.vcard-textarea
  resize: none

.pull-right
  .vcard-input,
  .vcard-textarea
    text-align right
    width 202px

.vcard-site
  font-weight 800

.vcard-name
  font-size 24px
  font-weight 100
  width 100%

.control-name
  position relative
  .controls-remove
    top 6px

.control-group
  overflow hidden
  margin-bottom 3px
  position relative
.control-label
  width 50px
  float left
  font-size 14px
  font-weight 100
.controls
  margin-left 50px
  width 200px
  position relative
  padding-right 16px
  .vcard-input
    width 100%

.controls-remove
  display none
  width 12px
  height 12px
  border-radius 50%
  text-align center
  cursor pointer
  background-color #510b76
  position absolute
  right 0
  top 0
  span
    font-size 12px
    line-height 1
    font-family 'Times New Roman'
    color #fff
    position relative
    top -2px

.fake-input
  font-size 14px


form.editable
  .controls-remove
    display block
  .vcard-input
    border-bottom 1px solid #dcdcdc
  .pull-right
    .vcard-input,
    .vcard-textarea
      padding-right 16px

  ::-webkit-input-placeholder
    color #ccc
  ::-moz-placeholder
    color #ccc
  :-moz-placeholder
    color #ccc
  ::-ms-input-placeholder
    color #ccc


.vcard-editor-footer
  padding 32px 84px 30px 84px

.vcard-editor-annotation
  color #BC00CB
  font-weight 300
  font-size 0.875rem
  margin 0
  padding 35px 0 0
  line-height 1.125rem
  position relative
  &:before
    content '*'
    position absolute
    left -10px
    top 35px
