doctype html
html
  head
    include shared/head
  body
    include shared/header

    .row
      .content
        include shared/catalog

        .vcards
          .pull-left
            .vcards-content
              h3.vcards-header Личные визитки
              p.vcards-summary В четыре-пять месяцев ребенок, с которым много разговаривают, обучается все более и более сложным звуковым сочетаниям. Когда вы говорите с ним, младенец внимательно вглядывается в ваше лицо. Как только в потоке слов возникает пауза
          .pull-right
            .vcards-total
              span.vcards-total-price
                | 20
                span.vcards-total-price-currency mp
              span.vcards-total-count
                | 100
                span.vcards-total-price-currency шт
            a.btn(href="javascript:void(0);", data-action="change-form-open-state") Заполнить и купить
          .clearfix

        form.vcard-form(data-object="vcard-form")
          .vcard-editor
            h3.vcard-editor-header
              | Персональные данные
              span.vcard-editor-collapse(data-action="change-form-open-state")
                | Свернуть
                span —
            .vcard-editor-content
              .vcard-back
                img.vcard-marble-logo-back(src="images/marble-white.svg", width="90%")
              .vcard-front
                img.vcard-marble-logo(src="images/marble.svg", width="280")
                .control-name
                  input.vcard-input.vcard-name(type="text", value="Дмитрий Вислов", readonly="true", tabindex="1", required="required")
                .vcard-position Региональный представитель

                .vcard-form-part.vcard-form-part-left
                  .control-group
                    .control-label Моб.:
                    .controls
                      input.vcard-input.vcard-mobile(type="text", value="+7 (960) 360-58-67", readonly="true", tabindex="2", placeholder="Мобильный телефон")
                      .controls-remove(data-action="clear-self-input-value")
                        span &times;
                  .control-group
                    .control-label E-mail:
                    .controls
                      input.vcard-input.vcard-email(type="email", value="vdv73rus@marble-x.ru", readonly="true", tabindex="3", placeholder="Электронная почта")
                      .controls-remove(data-action="clear-self-input-value")
                        span &times;
                  .control-group
                    .control-label Skype:
                    .controls
                      input.vcard-input.vcard-skype(type="text", value="vdv73rus", readonly="true", tabindex="4", placeholder="Скайп")
                      .controls-remove(data-action="clear-self-input-value")
                        span &times;
                  .control-group
                    .control-label M-ID:
                    .controls
                      .fake-input MF-7382

                .vcard-form-part.vcard-form-part-right
                  .control-group
                    input.vcard-input.vcard-site(type="text", value="www.marble-x.ru", placeholder="Персональный сайт", readonly="true", tabindex="5")
                    .controls-remove(data-action="clear-self-input-value")
                      span &times;
                  .control-group
                    input.vcard-input.vcard-phone(type="text", placeholder="Телефон офиса", value="+7 (8352) 62-68-40", readonly="true", tabindex="6")
                    .controls-remove(data-action="clear-self-input-value")
                      span &times;
                  .control-group.control-group-address
                    input.vcard-input.vcard-address-line1(type="text", placeholder="Адрес", value="г.Чебоксары", readonly="true", tabindex="7")
                    .controls-remove.controls-remove-address(data-action="clear-self-input-value")
                      span &times;
                  .control-group
                    input.vcard-input.vcard-address-line2(type="text", placeholder="", value="ул.Речинков, д.5", readonly="true", tabindex="8")


            .vcard-editor-footer
              .pull-left
                a.btn.btn-edit(href="javascript:void(0);", data-action="change-form-edit-state") Изменить данные
              .pull-right
                .vcards-total
                  span.vcards-total-price
                    | 20
                    span.vcards-total-price-currency mp
                  span.vcards-total-count
                    | 100
                    span.vcards-total-price-currency шт
                input.btn(type="submit", value="В корзину")
              .clearfix
              p.vcard-editor-annotation Внимание! Заверность данных компания ответственности не несет. Все данные вы вводите на свое усмотрение и проверяете их тоже сами. Имя, M-ID, и регион представительства берется согласно вашему профилю.

  include shared/footer
