doctype html
html
  head
    include shared/head
  body
    include shared/header

    .row
      .content
        include shared/catalog

        .vcards
          .pull-left
            .vcards-content
              h3.vcards-header Личные визитки
              p.vcards-summary В четыре-пять месяцев ребенок, с которым много разговаривают, обучается все более и более сложным звуковым сочетаниям. Когда вы говорите с ним, младенец внимательно вглядывается в ваше лицо. Как только в потоке слов возникает пауза
          .pull-right
            .vcards-total
              span.vcards-total-price
                | 20
                span.vcards-total-price-currency mp
              span.vcards-total-count
                | 100
                span.vcards-total-price-currency шт
            a.btn(href="javascript:void(0);") Заполнить и купить
          .clearfix

  include shared/footer

  script(src="https://code.jquery.com/jquery-2.1.3.min.js")
  script(src="/js/application.js")
