doctype html
html
  head
    include shared/head
  body
    include shared/header

    .row
      .content
        include shared/catalog

        .vcards
          .pull-left
            .vcards-content
              h3.vcards-header Личные визитки
              p.vcards-summary В четыре-пять месяцев ребенок, с которым много разговаривают, обучается все более и более сложным звуковым сочетаниям. Когда вы говорите с ним, младенец внимательно вглядывается в ваше лицо. Как только в потоке слов возникает пауза
          .pull-right
            .vcards-total
              span.vcards-total-price
                | 20
                span.vcards-total-price-currency mp
              span.vcards-total-count
                | 100
                span.vcards-total-price-currency шт
            a.btn(href="javascript:void(0);") Заполнить и купить
          .clearfix

        .vcard-editor
          h3.vcard-editor-header
            | Персональные данные
            span.vcard-editor-collapse
              | Свернуть
              span —
          .vcard-editor-content
            .vcard-back
              img.vcard-marble-logo-back(src="images/marble-white.svg", width="90%")
            .vcard-front
              img.vcard-marble-logo(src="images/marble.svg", width="280")
              form
                input.vcard-input.vcard-input-editable.vcard-name(type="text", value="Дмитрий Вислов", readonly="true")
                .vcard-position Front-End developer

                .pull-left
                  .control-group
                    .control-label Моб.:
                    .controls
                      input.vcard-input.vcard-input-editable.vcard-mobile(type="text", value="+7 (960) 360-58-67", readonly="true")
                  .control-group
                    .control-label E-mail:
                    .controls
                      input.vcard-input.vcard-input-editable.vcard-email(type="email", value="vdv73rus@marble-x.ru", readonly="true")
                  .control-group
                    .control-label Skype:
                    .controls
                      input.vcard-input.vcard-input-editable.vcard-email(type="text", value="vdv73rus", readonly="true")
                  .control-group
                    .control-label M-ID:
                    .controls
                      .fake-input MF-7382

                .pull-right
                  .control-group
                    input.vcard-input.vcard-input-editable.vcard-site(type="text", value="www.marble-x.ru", placeholder="Персональный сайт", readonly="true")
                  .control-group
                    input.vcard-input.vcard-input-editable.vcard-phone(type="text", placeholder="Телефон офиса", value="+7 (8352) 62-68-40", readonly="true")
                  .control-group
                    textarea.vcard-input.vcard-textarea.vcard-input-editable.vcard-address(placeholder="Адрес офиса",readonly="true") г.Чебоксары, ул.Пресноводская, д.5
                .clearfix


          .vcard-editor-footer
            .pull-left
              a.btn.btn-edit(href="javascript:void(0);") Изменить данные
            .pull-right
              .vcards-total
                span.vcards-total-price
                  | 20
                  span.vcards-total-price-currency mp
                span.vcards-total-count
                  | 100
                  span.vcards-total-price-currency шт
              a.btn(href="javascript:void(0);") В корзину
            .clearfix
            p.vcard-editor-annotation Внимание! Заверность данных компания ответственности не несет. Все данные вы вводите на свое усмотрение и проверяете их тоже сами. Имя, M-ID, и регион представительства берется согласно вашему профилю.

  include shared/footer

  script(src="https://code.jquery.com/jquery-2.1.3.min.js")
  script(src="/js/application.js")
