@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.woff?588bxb') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cart-in:before {
  content: "\e600";
}

.icon-cart:before {
  content: "\e601";
}

.icon-chevron-down:before {
  content: "\e602";
}

.icon-chevron-round-left:before {
  content: "\e603";
}

.icon-user:before {
  content: "\e604";
}

@font-face {
  font-family: 'HelveticaNeueWeb';
  src: url('../fonts/HelveticaNeue.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueWeb';
  src: url('../fonts/HelveticaNeue-UltraLight.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueWeb';
  src: url('../fonts/HelveticaNeue-Light.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueWeb';
  src: url('../fonts/HelveticaNeue-Medium.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueWeb';
  src: url('../fonts/HelveticaNeue-Bold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
