*
  box-sizing: border-box

body
  background-color #dcdcdc
  font-family "HelveticaNeueCyr", Helvetica, Arial, sans-serif

sticky-footer(172px)

.row
  width 982px
  margin-left auto
  margin-right auto
