.catalog
  .catalog-row
    .catalog-item
      .catalog-image-wrap
        .catalog-image
          img(src="images/product-1.png", alt="product", width="142", height="171")
      .catalog-item-header
        h2 Х-amin
      p.catalog-item-description Содержит в своем составе такие компоненты как L-Аргинин, лизин, глутаминовая кислота и цинк. Благодаря чему оказывает благоприятное воздействие на иммунитет и помогает организму противостоять различным заболеваниям.
      .catalog-item-service
        .pull-left
          .catalog-item-price
            | 75
            span.catalog-item-price-currency mp
        .pull-right
          a.btn(href="javascript:void(0);") В корзину
        .clearfix

    .catalog-item
      .catalog-image-wrap
        .catalog-image
          img(src="images/product-2.png", alt="product", width="137", height="165")
          .catalog-discount-badge.catalog-discount-badge-pre Предзаказ
      .catalog-item-header
        h2 Х-antiox
      p.catalog-item-description В четыре-пять месяцев ребенок, с которым много разговаривают, обучается все более и более сложным звуковым сочетаниям. Когда вы говорите с ним, младенец внимательно вглядывается в ваше лицо. Как только в потоке слов возникает пауза
      .catalog-item-service
        .pull-left
          .catalog-item-price
            | 300
            span.catalog-item-price-currency mp
        .pull-right
          a.btn(href="javascript:void(0);") Предзаказ
        .clearfix

  .catalog-row
    .catalog-item
      .catalog-image-wrap
        .catalog-image
          img(src="images/product-3.png", alt="product", width="239", height="207")
          .catalog-center-badge BIZ
      .catalog-item-header
        h2 BIZ PACK
      p.catalog-item-description В четыре-пять месяцев ребенок, с которым много разговаривают, обучается все более и более сложным звуковым сочетаниям. Когда вы говорите с ним, младенец внимательно вглядывается в ваше лицо. Как только в потоке слов возникает пауза
      .catalog-item-service
        .pull-left
          .catalog-item-price
            | 75
            span.catalog-item-price-currency mp
        .pull-right
          a.btn(href="javascript:void(0);") Предзаказ
        .clearfix
    .catalog-item
      .catalog-image-wrap
        .catalog-image
          img(src="images/product-3.png", alt="product", width="239", height="207")
          .catalog-center-badge BIZ
          .catalog-discount-badge.catalog-discount-badge-percent
            | Скидка
            .catalog-discount-value 10%
      .catalog-item-header
        h2 BIZ PROMO
      p.catalog-item-description В четыре-пять месяцев ребенок, с которым много разговаривают, обучается все более и более сложным звуковым сочетаниям. Когда вы говорите с ним, младенец внимательно вглядывается в ваше лицо. Как только в потоке слов возникает пауза
      .catalog-item-service
        .pull-left
          .catalog-item-price
            | 270
            span.catalog-item-price-currency mp
        .pull-right
          a.btn(href="javascript:void(0);") В корзину
        .clearfix

  .catalog-row
    .catalog-item
      .catalog-image-wrap
        .catalog-image
          img(src="images/product-4.png", alt="product", width="214", height="119")
          .catalog-center-badge PRO
          .catalog-discount-badge.catalog-discount-badge-percent
            | Скидка
            .catalog-discount-value 20%
      .catalog-item-header
        h2 PRO PACK
      p.catalog-item-description В четыре-пять месяцев ребенок, с которым много разговаривают, обучается все более и более сложным звуковым сочетаниям. Когда вы говорите с ним, младенец внимательно вглядывается в ваше лицо. Как только в потоке слов возникает пауза
      .catalog-item-service
        .pull-left
          .catalog-item-price
            | 300
            span.catalog-item-price-currency mp
        .pull-right
          a.btn(href="javascript:void(0);") В корзину
        .clearfix
    .catalog-item
      .catalog-image-wrap
        .catalog-image
          img(src="images/product-5.png", alt="product", width="147", height="154")
      .catalog-item-header
        h2 Буклет X-Amin
      p.catalog-item-description В четыре-пять месяцев ребенок, с которым много разговаривают, обучается все более и более сложным звуковым сочетаниям. Когда вы говорите с ним, младенец внимательно вглядывается в ваше лицо. Как только в потоке слов возникает пауза
      .catalog-item-service
        .pull-left
          .catalog-item-price
            | 300
            span.catalog-item-price-currency mp
        .pull-right
          a.btn(href="javascript:void(0);") В корзину
        .clearfix
