.footer
  .row

    nav.footer-nav
      ul.footer-nav-list
        li.footer-nav-item
          a.footer-nav-item-link(href="javascript:void(0);") Главная
        li.footer-nav-item
          a.footer-nav-item-link(href="javascript:void(0);") Магазин
        li.footer-nav-item
          a.footer-nav-item-link(href="javascript:void(0);") Помощь
        li.footer-nav-item
          a.footer-nav-item-link(href="javascript:void(0);") Энциклопедия
        li.footer-nav-item
          a.footer-nav-item-link(href="javascript:void(0);") Конфиденциальность

    p.footer-copyright © 2013 — 2014 MARBLE LСС.  Все права защищены.

    p.footer-annotation Этот материал не подлежит копированию, опубликованию в других СМИ или переписке в любой форме без письменного разрешения. Использование этого сайта свидетельствует о Вашем согласии с условиями обслуживания.

script(src="https://code.jquery.com/jquery-2.1.3.min.js")
script(src="js/application.js")
