.header
  .row
    .header-service-panel
      .pull-left
        i.icon-chevron-round-left
        nav.header-nav
          ul.header-nav-list
            li.header-nav-item
              a.header-nav-link(href="javascript:void(0);") начало
            li.header-nav-item.active
              a.header-nav-link(href="javascript:void(0);") магазин
            li.header-nav-item
              a.header-nav-link(href="javascript:void(0);") мои заказы
            li.header-nav-item
              a.header-nav-link(href="javascript:void(0);") статистика
            li.header-nav-item
              a.header-nav-link(href="javascript:void(0);") помощь

      .pull-right
        .header-user
          i.icon-user
          .header-username Константин Константинопольский
          i.icon-chevron-down
      .clearfix

    .header-logo-line
      .header-logo
        i.icon-cart
      .header-motto магазин

    .header-cart-status
      .pull-left
        .header-cart-icon
          i.icon-cart-in
        .header-cart-content
          | В корзине: 4 товара <b>на 1900 mp</b>

      .pull-right
        a.header-make-order-link(href="javascript:void(0);")
          | Оформить заказ
          i.icon-make-order
      .clearfix
