.header
  .row
    .header-service-panel

    .header-logo-line
      .header-logo
        i.icon-cart
      .header-motto магазин

    .header-cart-status
      .pull-left
        .header-cart-icon
          i.icon-cart-in
        .header-cart-content
          | В корзине: 4 товара <b>на 1900 mp</b>

      .pull-right
        a.header-make-order-link(href="javascript:void(0);")
          | Оформить заказ
          i.icon-make-order
      .clearfix
